:root {
  --accent-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --second-accent-color: #ffffff;
  --animation-movement: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  margin: 0;
  /* padding-top: 82px; */

  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 16px;
  color: var(--primary-text-color);
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.no-padding {
  padding-top: 0;
}

header {
  /* position: fixed;
    top: 0;
    left: 0;
    z-index: 2; */

  width: 100%;
  min-height: 82px;
  border-bottom: 1px solid #ececec;

  background-color: var(--second-accent-color);
}
/* logo */
.logo {
  margin-right: 93px;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--second-accent-color);
}
.logo.logo-header {
  color: #000000;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
}

.accent {
  color: var(--accent-color);
}

.nav-link.current {
  position: relative;
}

.nav-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--accent-color);
}
/* nav section */

.main-nav {
  display: flex;
  align-items: center;
}

.nav-site {
  display: flex;
  align-items: inherit;
}

.nav-list {
  display: flex;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition: color 250ms var(--animation-movement);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-link.current {
  color: var(--accent-color);
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-item {
  display: flex;
}

.auth-item:not(:last-child) {
  margin-right: 50px;
}

.auth-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  transition: color 250ms var(--animation-movement);
}
.auth-link:hover,
.auth-link:focus {
  color: var(--accent-color);
}

.auth-link:hover .header-icon,
.auth-link:focus .header-icon {
  fill: var(--accent-color);
}

.header-icon {
  margin-right: 10px;

  fill: #757575;
}

/* hero section */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
}
.hero-title {
  margin: 0 auto 30px auto;
  max-width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-accent-color);
}
.hero-button {
  border-radius: 4px;
  border-color: transparent;
  padding: 10px 32px;
  min-width: 200px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--second-accent-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms var(--animation-movement),
    box-shadow 250ms var(--animation-movement);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #146cb4;
}

.hero-img {
  height: 600px;
  max-width: 1600px;
  margin: 0 auto;

  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* advantages section */
.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.advantages-list {
  display: flex;
}

.advantages-item {
  max-width: 270px;
}

.advantages-item:not(:last-child) {
  margin-right: 30px;
}

/* .advantages-item::before{
    content: "";
    display: block;
    margin-bottom: 30px;
    height: 120px;
    background-color: #F5F4FA;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70px;
} */

/* .advantages-item:nth-child(1)::before{
    background-image: url(../images/antenna\ 1.svg);
}

.advantages-item:nth-child(2)::before {
    background-image: url(../images/clock\ 1.svg);
}

.advantages-item:nth-child(3)::before {
    background-image: url(../images/diagram\ 1.svg);
}

.advantages-item:nth-child(4)::before {
    background-image: url(../images/astronaut\ 1.svg);
} */

.advantages-element {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: #f5f4fa;
  color: var(--primary-text-color);
}

.advantages-icon {
  fill: currentColor;
}

.advantages-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages p {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}
/* our workss section */
.title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.img-wrapper {
  position: relative;
}

.title-box {
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;

  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
}

.works-title {
  color: var(--second-accent-color);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
}

.works {
  display: flex;
}

.works-item:not(:last-child) {
  margin-right: 30px;
}

.img-wrapper img {
  display: block;
  width: 100%;
}
/* team section */
.wrapper {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.card {
  padding: 30px 0;

  text-align: center;
  background-color: var(--second-accent-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.team-photo {
  display: block;
}

.team-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team p {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-text-color);
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: transparent;

  transition: background-color 250ms var(--animation-movement);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-icon {
  width: 20px;
  height: 20px;

  fill: #afb1b8;

  transition: fill 250ms var(--animation-movement);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--second-accent-color);
}

/* clients section */
.clients-list {
  display: flex;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms var(--animation-movement);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

.clients-icon {
  width: 106px;
  height: 60px;

  fill: #afb1b8;

  transition: fill 250ms var(--animation-movement);
}

/* footer */
.footer-site {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
}

.contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer-address {
  margin-right: 70px;
}

.footer-social {
  margin-right: 93px;
}
.social-title {
  margin-bottom: 20px;

  color: var(--second-accent-color);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
}

.social-list.flex {
  justify-content: space-between;
}

.social-link.color {
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms var(--animation-movement);
}

.social-link.color:hover,
.social-link.color:focus {
  background-color: var(--accent-color);
}

.social-icon.color {
  fill: var(--second-accent-color);
}

.contacts-link {
  display: inline-block;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: rgba(100%, 100%, 100%, 60%);

  transition: color 250ms var(--animation-movement);
}
.contacts-link.real-address {
  color: #ffffff;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.footer-form {
  display: flex;
  align-items: center;
}

.footer-label {
  position: absolute;
  width: 1;
  height: 1;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer-button {
  display: flex;
  align-items: center;
  border-radius: 4px;
  border-color: transparent;
  padding: 10px 29px;
  margin-left: 12px;
  min-width: 200px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--second-accent-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms var(--animation-movement),
    color 250ms var(--animation-movement);
}

.footer-button:hover,
.footer-button:focus {
  background-color: var(--second-accent-color);
  color: var(--accent-color);
}

.footer-button:hover .icon-send,
.footer-button:focus .icon-send {
  fill: var(--accent-color);
}

.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--second-accent-color);

  transition: fill 250ms var(--animation-movement);
}

.footer-input {
  display: block;
  height: 50px;
  width: 358px;

  padding: 15px 16px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;

  transition: border-color 250ms var(--animation-movement);
}

.footer-input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}

.footer-input:focus-within,
.footer-input:hover {
  color: var(--second-accent-color);
  border-color: var(--accent-color);
}
/* portfolio page */
.filter-box {
  margin-bottom: 50px;
}

.filter-list {
  display: flex;
  justify-content: center;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter {
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  color: var(--primary-text-color);
  background-color: #f5f4fa;

  transition: background-color 250ms var(--animation-movement),
    color 250ms var(--animation-movement), box-shadow 250ms var(--animation-movement);
}
.filter:hover,
.filter:focus {
  background-color: var(--accent-color);
  color: var(--second-accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* project section */
.projects-list {
  display: flex;
  flex-wrap: wrap;
  /* background-color: aqua; */
}

.projects-item {
  /* width: 370px; */
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.projects-item:nth-child(3n) {
  margin-right: 0;
}

.projects-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-img {
  display: block;
}

.project-description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;

  background-color: var(--second-accent-color);
}

.project {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.project-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}

.project-wrapper {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;

  transform: translateY(+100%);
  transition: opacity 250ms var(--animation-movement), transform 250ms var(--animation-movement);
}

.projects-item-link {
  display: block;
  box-shadow: none;

  transition: box-shadow 250ms var(--animation-movement);
}

.projects-item-link:hover,
.projects-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-item-link:hover .project-overlay,
.projects-item-link:focus .project-overlay {
  opacity: 1;
  transform: translate(0);
}

.project-hover-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;

  width: 100%;
  height: 100%;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--second-accent-color);
  opacity: 0;
}

.projects-item-link:hover .project-hover-text,
.projects-item-link:focus .project-hover-text {
  opacity: 1;
}

/* backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  /* z-index: 3; */

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;

  transition: opacity 250ms var(--animation-movement), visibility 250ms var(--animation-movement);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: var(--second-accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms var(--animation-movement);
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;

  background-color: var(--second-accent-color);
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.102);
  cursor: pointer;
}

.modal-icon {
  width: 11px;
  height: 11px;

  transition: fill 250ms var(--animation-movement);
}

.btn-close:hover .modal-icon,
.btn-close:focus .modal-icon {
  fill: var(--accent-color);
}
/* modal form */

.modal-title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.form-field {
  position: relative;
  margin-bottom: 10px;
}

.form-input {
  display: block;
  width: 100%;
  max-height: 40px;

  padding: 11px 12px 11px 32px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;

  transition: border-color 250ms var(--animation-movement);
}

.form-input:focus-within,
.form-input:hover {
  border-color: var(--accent-color);
}
.form-field:focus-within .form-icon,
.form-field:hover .form-icon {
  fill: var(--accent-color);
}
.form-label {
  display: block;
}

.label-text {
  display: block;
  margin-bottom: 4px;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.form-link {
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

.form-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  width: 18px;
  height: 18px;

  transition: fill 250ms var(--animation-movement);
}

.textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;

  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;

  transition: border-color 250ms var(--animation-movement);
}

.textarea::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea:focus-within,
.textarea:hover {
  border-color: var(--accent-color);
}

.checkbox {
  display: flex;
  align-items: center;
  margin: 0 12px 30px 12px;
}
.agreements {
  display: flex;
  align-items: center;
}

.agreements-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.agreements-text.label-text {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
}

.agreements-label {
  display: flex;
  align-items: center;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.agreements-icon {
  height: 15px;
  width: 16px;

  fill: var(--second-accent-color);
  opacity: 0;
}

.icon-span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;

  border: 2px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: transparent;

  transition: border-color 250ms var(--animation-movement),
    background-color 250ms var(--animation-movement);
}

.agreements-input:checked + .agreements-label .icon-span {
  border-color: transparent;
  background-color: var(--accent-color);
}

.agreements-input:checked + .agreements-label .icon-span .agreements-icon {
  opacity: 1;
}

.agreements-input:focus + .agreements-label .icon-span {
  border-color: var(--accent-color);
}

.modal-button {
  display: block;
  border-radius: 4px;
  border-color: transparent;
  padding: 10px 32px;
  min-width: 200px;
  margin: 0 auto;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--second-accent-color);
  background-color: var(--accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: background-color 250ms var(--animation-movement),
    box-shadow 250ms var(--animation-movement);
}

.modal-button:hover,
.modal-button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*  */

/* .fixed-chat{
    position: fixed;
    bottom: 150px;
    right: 100px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(197, 221, 253);
} 

.chat-link{
    display: block;
}

.fixed-chat:hover,
.fixed-chat:hover .for-icon{
    background-color: var(--accent-color);

}

.fixed-chat:hover .chat-icon{
    fill: var(--second-accent-color);
    stroke: #000000;
    transform: scale(1.2);
}



.for-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(197, 221, 253);
}


.chat-icon{

    width: 36px;
    height: 32px;

    stroke: #071069;
    fill: var(--accent-color);

} */
